.pfcontainer{
  padding: 0 300px;
  display: grid ;  
  grid-template-columns: 1fr 300px;
  background-color: #e2e2e2;
}

.pfimage{
    background-image: url("../image/pf1.jpg") ;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfinformation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
    font-size: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.pfcontainer1{
    padding: 0 300px;
    display: grid ;  
    grid-template-columns: 1fr;
    background-color: #e2e2e2;
  }
.pfinformation1{
  height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    font-size: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Rubik', sans-serif;    
}
.pfcontainer2{
  padding: 0 300px;
  background-color: #e2e2e2;
}
.myfav{
  text-align: center;
  font-size: 30px;
  background-color: lightpink;
  padding: 20px;
}
.pfcontainer3{
  padding: 0 300px;
  display: grid ;  
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e2e2e2;
}

.pfgrid{
  display: grid;
  grid-template-columns: 1fr;
  background-color: lightpink;
}

.pfimage1{
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pftext{
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.myfav{
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.grid-img{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

.education-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 60px 150px;
  height: calc(100vh - 340px);
  background-color:  #2C3E50;
}

.grid{
  margin: 0 auto;
  background-color: #E6B0AA;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.28);
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.28);
  transition: all .5s ease;
  height: fit-content;
}

.grid:hover{
  background-color: #F1948A;
  margin-bottom: 20px;
  margin-top: -20px;
}

.grid-topic{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 800;
}

.grid-info{
  margin-top: 10px;
}
